# Server Configuration
SERVER_PORT=3000
SERVER_HOST=0.0.0.0

# Database Configuration
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=recipe_db
# DB_USER=postgres
# DB_PASSWORD=postgres

# API Configuration
API_PREFIX=/api

# Cache settings
CACHE_TTL=900

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# Logging Configuration
LOG_LEVEL=info
LOG_SAVE_TO_FILE=false
LOG_FILE=logs/app.log

# Environment Configuration
DEBUG=True
SECRET_KEY=SecretKey12345678901234567890123456789012

# OpenAI Configuration
OPENAI_API_KEY=apikey
OPENAI_MODEL_BASIC=gpt-5-nano
OPENAI_MODEL_REASONING=gpt-5-mini

DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_MODEL_BASIC=deepseek-chat
DEEPSEEK_MODEL_REASONING=deepseek-chat

INFERENCE_SERVER_URL=http://your_inference_server_url/v1
INFERENCE_SERVER_API_KEY=your_inference_server_api_key
# INFERENCE_SERVER_MODEL_BASIC=brandonbeiler/InternVL3_5-GPT-OSS-20B-A4B-Preview-FP8-Dynamic
INFERENCE_SERVER_MODEL_BASIC=KJML/typhoon2.5-qwen3-30b-a3b-FP8-Dynamic

INFERENCE_PRIVATE_SERVER_URL=http://your_private_server_url:11434
INFERENCE_PRIVATE_SERVER_MODEL_BASIC=scb10x/typhoon2.5-qwen3-4b